{% extends 'app/layout.html' %}
{% load static %}

{%block title %}Planes y Pagos{%endblock%}


{% block main %}

<div class="grid justify-items-center  mt-40">
    <div class="xl:w-1/2 w-11/12 ">
        <h1 role="heading" tabindex="0"
            class="text-6xl font-bold 2xl:leading-10 leading-0 text-center text-gray-800 dark:text-white">Planes de
            Precios</h1>
        <h2 role="contentinfo" tabindex="0"
            class="text-base leading-normal text-center text-gray-600 dark:text-gray-200 mt-5">Únete a la mejor
            plataforma de compraventa de ganado en
            constante crecimiento. ¡Estamos introduciendo características emocionantes cada semana y no tenemos planes
            de detenernos pronto!</h2>
    </div>
</div>


<div class="flex items-center justify-center py-10 lg:px-0 sm:px-6 px-4 mt-20">
    <div class="flex flex-wrap -mx-4">
        <div class="w-full md:w-1/3 px-4 mb-4">
            <div class="mb-4 overflow-hidden rounded-lg shadow-lg">
                <div class="px-6 py-8 bg-white dark:bg-gray-800 sm:p-10 sm:pb-6">
                    <div class="flex justify-center">
                        <span
                            class="inline-flex px-4 py-1 text-sm font-semibold leading-5 tracking-wide uppercase rounded-full dark:text-white">
                            Plan Gratuito
                        </span>
                    </div>
                    <div class="flex justify-center mt-4 text-6xl font-extrabold leading-none dark:text-white">
                        <span class="ml-1 mr-3 text-xl font-medium leading-8 text-gray-500 dark:text-gray-400">
                            Desde
                        </span>
                        $FREE
                        <span class="pt-8 ml-1 text-2xl font-medium leading-8 text-gray-500 dark:text-gray-400">
                            /mes
                        </span>
                    </div>
                </div>
                <div class="px-6 pt-6 pb-8 bg-white dark:bg-gray-800 sm:p-10 sm:pt-6">
                    <ul>
                        <li class="flex items-start mt-4">
                            <div class="flex-shrink-0">
                                <svg class="w-6 h-6 text-green-500" stroke="currentColor" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M5 13l4 4L19 7">
                                    </path>
                                </svg>
                            </div>
                            <p class="ml-3 text-base leading-6 text-gray-700 dark:text-gray-200">
                                $GRATIS/mes por persona.
                            </p>
                        </li>
                        <li class="flex items-start mt-4">
                            <div class="flex-shrink-0">
                                <svg class="w-6 h-6 text-green-500" stroke="currentColor" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M5 13l4 4L19 7">
                                    </path>
                                </svg>
                            </div>
                            <p class="ml-3 text-base leading-6 text-gray-700 dark:text-gray-200">
                                2 Publicaciones al mes.
                            </p>
                        </li>
                        <li class="flex items-start mt-4">
                            <div class="flex-shrink-0">
                                <svg class="w-6 h-6 text-green-500" stroke="currentColor" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M5 13l4 4L19 7">
                                    </path>
                                </svg>
                            </div>
                            <p class="ml-3 text-base leading-6 text-gray-700 dark:text-gray-200">
                                Comentarios elimitados.
                            </p>
                        </li>
                        <li class="flex items-start mt-4">
                            <div class="flex-shrink-0">
                                <svg class="w-6 h-6 text-green-500" stroke="currentColor" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M5 13l4 4L19 7">
                                    </path>
                                </svg>
                            </div>
                            <p class="ml-3 text-base leading-6 text-gray-700 dark:text-gray-200">
                                Creacion de 1 finca.
                            </p>
                        </li>
                        <li class="flex items-start mt-4">
                            <div class="flex-shrink-0">
                                <svg class="w-6 h-6 text-red-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M6 18L18 6M6 6l12 12"></path>
                                </svg>
                            </div>
                            <p class="ml-3 text-base leading-6 text-gray-700 dark:text-gray-200">
                                Publicaciones Destacados.
                            </p>
                        </li>
                    </ul>
                    <div class="mt-6 rounded-md shadow">
                        <a
                            class="stripe_btn flex items-center justify-center px-5 py-3 text-base font-medium leading-6 text-white transition 
                        duration-150 ease-in-out bg-green-600 border border-transparent rounded-md hover:bg-green-500 focus:outline-none focus:shadow-outline"
                            data-id="1">
                            Comienza con el plan Gratuito
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full md:w-1/3 px-4 mb-4">
            <div class="mb-4 overflow-hidden rounded-lg shadow-lg">
                <div class="px-6 py-8 bg-white dark:bg-gray-800 sm:p-10 sm:pb-6">
                    <div class="flex justify-center">
                        <span
                            class="inline-flex px-4 py-1 text-sm font-semibold leading-5 tracking-wide uppercase rounded-full dark:text-white">
                            Plan Vip
                        </span>
                    </div>
                    <div class="flex justify-center mt-4 text-6xl font-extrabold leading-none dark:text-white">
                        <span class="ml-1 mr-3 text-xl font-medium leading-8 text-gray-500 dark:text-gray-400">
                            Desde
                        </span>
                        $4
                        <span class="pt-8 ml-1 text-2xl font-medium leading-8 text-gray-500 dark:text-gray-400">
                            /mes
                        </span>
                    </div>
                </div>
                <div class="px-6 pt-6 pb-8 bg-white dark:bg-gray-800 sm:p-10 sm:pt-6">
                    <ul>
                        <li class="flex items-start mt-4">
                            <div class="flex-shrink-0">
                                <svg class="w-6 h-6 text-green-500" stroke="currentColor" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M5 13l4 4L19 7">
                                    </path>
                                </svg>
                            </div>
                            <p class="ml-3 text-base leading-6 text-gray-700 dark:text-gray-200">
                                $4/mes por persona.
                            </p>
                        </li>
                        <li class="flex items-start mt-4">
                            <div class="flex-shrink-0">
                                <svg class="w-6 h-6 text-green-500" stroke="currentColor" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M5 13l4 4L19 7">
                                    </path>
                                </svg>
                            </div>
                            <p class="ml-3 text-base leading-6 text-gray-700 dark:text-gray-200">
                                15 Publicaciones al mes.
                            </p>
                        </li>
                        <li class="flex items-start mt-4">
                            <div class="flex-shrink-0">
                                <svg class="w-6 h-6 text-green-500" stroke="currentColor" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M5 13l4 4L19 7">
                                    </path>
                                </svg>
                            </div>
                            <p class="ml-3 text-base leading-6 text-gray-700 dark:text-gray-200">
                                Comentarios elimitados.
                            </p>
                        </li>
                        <li class="flex items-start mt-4">
                            <div class="flex-shrink-0">
                                <svg class="w-6 h-6 text-green-500" stroke="currentColor" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M5 13l4 4L19 7">
                                    </path>
                                </svg>
                            </div>
                            <p class="ml-3 text-base leading-6 text-gray-700 dark:text-gray-200">
                                Creacion de 1 finca.
                            </p>
                        </li>
                        <li class="flex items-start mt-4">
                            <div class="flex-shrink-0">
                                <svg class="w-6 h-6 text-green-500" stroke="currentColor" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M5 13l4 4L19 7">
                                    </path>
                                </svg>
                            </div>
                            <p class="ml-3 text-base leading-6 text-gray-700 dark:text-gray-200">
                                Publicacion Destacados.
                            </p>
                        </li>
                    </ul>
                    <div class="mt-6 rounded-md shadow">
                        <a class="stripe_btn flex items-center justify-center px-5 py-3 text-base 
                        font-medium leading-6 text-white transition duration-150 ease-in-out 
                        bg-green-600 border border-transparent rounded-md hover:bg-green-500 
                        focus:outline-none focus:shadow-outline" data-id="2"> Comienza con el plan Vip </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full md:w-1/3 px-4 mb-4">
            <div class="mb-4 overflow-hidden rounded-lg shadow-lg">
                <div class="px-6 py-8 bg-white dark:bg-gray-800 sm:p-10 sm:pb-6">
                    <div class="flex justify-center">
                        <span
                            class="inline-flex px-4 py-1 text-sm font-semibold leading-5 tracking-wide uppercase rounded-full dark:text-white">
                            Plan Gold
                        </span>
                    </div>
                    <div class="flex justify-center mt-4 text-6xl font-extrabold leading-none dark:text-white">
                        <span class="ml-1 mr-3 text-xl font-medium leading-8 text-gray-500 dark:text-gray-400">
                            Desde
                        </span>
                        $40
                        <span class="pt-8 ml-1 text-2xl font-medium leading-8 text-gray-500 dark:text-gray-400">
                            /anual
                        </span>
                    </div>
                </div>
                <div class="px-6 pt-6 pb-8 bg-white dark:bg-gray-800 sm:p-10 sm:pt-6">
                    <ul>
                        <li class="flex items-start mt-4">
                            <div class="flex-shrink-0">
                                <svg class="w-6 h-6 text-green-500" stroke="currentColor" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M5 13l4 4L19 7">
                                    </path>
                                </svg>
                            </div>
                            <p class="ml-3 text-base leading-6 text-gray-700 dark:text-gray-200">
                                $40/anuales por persona.
                            </p>
                        </li>
                        <li class="flex items-start mt-4">
                            <div class="flex-shrink-0">
                                <svg class="w-6 h-6 text-green-500" stroke="currentColor" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M5 13l4 4L19 7">
                                    </path>
                                </svg>
                            </div>
                            <p class="ml-3 text-base leading-6 text-gray-700 dark:text-gray-200">
                                Publicaciones ilimitadas.
                            </p>
                        </li>
                        <li class="flex items-start mt-4">
                            <div class="flex-shrink-0">
                                <svg class="w-6 h-6 text-green-500" stroke="currentColor" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M5 13l4 4L19 7">
                                    </path>
                                </svg>
                            </div>
                            <p class="ml-3 text-base leading-6 text-gray-700 dark:text-gray-200">
                                Comentarios elimitados.
                            </p>
                        </li>
                        <li class="flex items-start mt-4">
                            <div class="flex-shrink-0">
                                <svg class="w-6 h-6 text-green-500" stroke="currentColor" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M5 13l4 4L19 7">
                                    </path>
                                </svg>
                            </div>
                            <p class="ml-3 text-base leading-6 text-gray-700 dark:text-gray-200">
                                Creacion ilimitadas de fincas.
                            </p>
                        </li>
                        <li class="flex items-start mt-4">
                            <div class="flex-shrink-0">
                                <svg class="w-6 h-6 text-green-500" stroke="currentColor" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M5 13l4 4L19 7">
                                    </path>
                                </svg>
                            </div>
                            <p class="ml-3 text-base leading-6 text-gray-700 dark:text-gray-200">
                                Publicacion Destacados.
                            </p>
                        </li>
                    </ul>
                    <div class="mt-6 rounded-md shadow">
                        <a class=" stripe_btn flex items-center justify-center px-5 py-3 text-base 
                        font-medium leading-6 text-white transition duration-150 
                        ease-in-out bg-green-600 border border-transparent rounded-md 
                        hover:bg-green-500 focus:outline-none focus:shadow-outline" data-id="3">
                            Comienza con el Plan Gold
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% csrf_token %}
<script src="https://js.stripe.com/v3/"></script>
<script defer>
    var stripe = Stripe("{{STRIPE_PUBLIC_KEY}}");
    const csrftoken = document.querySelector("[name=csrfmiddlewaretoken]").value;
    const checkoutBtns = document.querySelectorAll(".stripe_btn");


    checkoutBtns.forEach((btn) => {
        btn.addEventListener("click", async () => {
            console.log(btn.dataset.id)
            const res = await fetch(`/checkout-session/${btn.dataset.id}/`, {
                method: "POST",
                headers: {
                    "X-CSRFToken": csrftoken,
                },
            });
            const data = await res.json();
            const stripe_data = await stripe.redirectToCheckout({ sessionId: data.id });

        });
    });
</script>


{% endblock %}